
<div class="container" style="padding: 20px">
<div class="text-center">
  <div class="row">
    <div class="col">
     <%= image_tag "boy picking apple.png", width: 300,height: 500 %>
      </div>

    <div class="col">
     <h2><%= button_to "Back",instruction4_path, method: :get, class: "btn btn-success btn-lg" %></h2>
      <%= image_tag "Inorder.PNG",width: 300, height: 400 %>
       </div>
    
    <div class="col">
    <h2><%= button_to "Continue",instruction6_path, method: :get, class: "btn btn-success btn-lg" %></h2>
      <%= image_tag "Instruction5.png", width: 300,height: 300 %>
       </div>
    </div>
</div>
