


<div class="container" style="padding: 20px">
<div class="text-center">
  <div class="row">
    <div class="col">
     <%= image_tag "boy picking apple.png", width: 300,height: 500 %>
      </div>

    <div class="col">
     <h2><%= button_to "Back",start_path, method: :get, class: "btn btn-success btn-lg" %></h2>
      <%= image_tag "new_playtest_algo2.png",width: 300, height: 400 %>
       </div>
    
    <div class="col">
     <h2><%= button_to "I'm ready",start_path, method: :get, class: "btn btn-success btn-lg" %></h2>
      <%= image_tag "Instruction6.png", width: 300,height: 400 %>
       </div>
    </div>
</div>