
<div class="container" style="padding: 20px"><!-padding for the UI->
<div class="text-center">
  <div class="row">
    <div class="col">
     <%= image_tag "boy picking apple.png", width: 300,height: 500 %>
      </div>

<div class="col">
  <h2><%= button_to "Back",instruction2_path, method: :get, class: "btn btn-success btn-lg" %></h2>
    <%= video_tag "Inorder.mp4", :size => "350x200", :controls => true %><!-used to embed video content->
    </div>

    
    <div class="col">
    <h2><%= button_to "Skip Instructions",level_path, method: :get, class: "btn btn-info btn-lg" %></h2>
      <p class="instruction">Your task is to "climb" a binary tree, like the one in the video on the left, 
        by in-order traversal.</p>
      <p class="instruction">You will begin at the top of the tree. First, check if there are any apples.</p>
      <p class="instruction">If there is an apple, you will check for branches to climb in order to explore 
        the tree and look for more apples.</p>
      <p class="instruction">You will select buttons (or enter input) to climb left or right in the tree. You 
        will also select buttons (or enter input) to check if if there are no more apples on a branch. Once 
        you verify that there are no more apples on a branch and no more directions to check, you will select 
        (or enter) the number of the apple to return it.</p>
      <h2><%= button_to "Continue",instruction4_path, method: :get, class: "btn btn-success btn-lg" %></h2>
       </div>
    </div>
</div>
