<div class="container" style="padding: 20px">
<div class="text-left">
  <div class="row">
    <div class="col">
     <%= image_tag "boy picking apple.png", width: 280,height: 500 %>
      </div>

   
    <div class="col">
    <div class="text-center">
     <h2><%= button_to "Back",instruction3_path, method: :get, class: "btn btn-success btn-lg" %></h2>
     </div>
      <%= image_tag "new_playtest_algo2.png", height: 300 %>
       </div>
    
    <div class="col">
    <div class="text-center">
     <h2><%= button_to "Skip Instructions",level_path, method: :get, class: "btn btn-info btn-lg" %></h2>
     </div>
      <%= image_tag "Instruction5.png", width: 300,height: 400 %>
        <h2 class="text-center"><%= button_to "Continue",instruction5_path, method: :get, class: "btn btn-success btn-lg" %></h2>
    </div>
    </div>
 </div>
