<div class="container" style="padding: 80px">
  <div class="text-center">
  <h2 class="level">CHOOSE LEVEL</h2>
    <div class="row">
      <div class="col">
      <div class="text-left">
       <%= image_tag "boy picking apple.png", width: 300,height: 500 %>
      </div>
    </div>

      <div class="col">
     
        <h1><%= button_to "EASY",easy_level_path(nodes.ids), method: :get, class: "btn btn-success btn-lg" %></h1>
        <h1><%= button_to "DIFFICULT",level_path, method: :get, class: "btn btn-success btn-lg" %></h1>
        </div>
        
      <div class="col">
        <h1><%= button_to "INTERMEDIATE",intermediate_level_path(nodes.ids), method: :get, class: "btn btn-success btn-lg" %></h1>
        <h1><%= button_to "CHALLENGE MODE",challenge_level_path(nodes.ids), method: :get, class: "btn btn-success btn-lg" %></h1>
      </div>
    </div>
  </div>
</div>



   

