<!DOCTYPE html>  
<html>

<body class="game-bg">


<div style="padding: 20px">
  <div class="row no-gutters justify-content-md-center">
    <div class="col">
      <div class="over5"><%= image_tag "climber_left.png", height: 100 %> </div>
      <div class="under"><%= image_tag "game_tree2.png", height: 500 %></div>
    </div>
    <div class="col-md-auto" align="center">
      <h3>Select Button to Move</h3>
      <div class="btn-group-vertical">
        <%= link_to 'no branches to climb this way', easy_level7_path(node), class: "btn btn-success btn-lg" %>
        <%= link_to 'climb branch to the left of 2', easy_level6_path(node), class: "btn btn-success btn-lg" %>
        <%= link_to 'climb branch to the right of 2', easy_level6_path(node), class: "btn btn-success btn-lg" %>
      </div>
      <h3 style="padding: 10px">Return Node</h3>
      <div class="btn-group" role="group">
        <%= link_to node.node1, easy_level6_path(node), class: "btn btn-success btn-lg" %>
        <%= link_to node.node2, easy_level6_path(node), class: "btn btn-success btn-lg" %>
        <%= link_to node.node3, easy_level6_path(node), class: "btn btn-success btn-lg" %>
      </div>

    <div class="row-center">
    <div style="padding: 100px">
      <!-- Trigger/Open The Modal -->
      <button id="myBtn">HINT</button>
   
      <!-- The Modal -->
      <div id="myModal" class="modal">
   
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close">&times;</span>                                                               
          <p>Can't move leftwards anymore</p>
         </div>
       </div>
      </div>
     </div>
   </div>


    <div class="col ">
      <div style="padding: 10px" align="right">
            <%= link_to 'Exit', start_path, class: "btn btn-success btn-lg" %>
      </div>
      <div >
            <%= image_tag "new_playtest_algo2.png", height: 300 %>
      </div>
      <div class="card border-dark mb-3" style="max-width: 28.5rem;">
        <div class="card-header">Console Output</div>
        <div class="table-wrap">
        <p class="card-text">
        check if there is a branch to climb<br>
        climb branch to the left of 1<br>
        check if there is a branch to climb<br>
        climb branch to the left of 2<br>
        check if there is a branch to climb</p>
      </div>
      <div class="input-group mb-3" style="padding: 20px">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Enter Console Output</span>
        </div>
        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
      </div>
    </div>
  </div>
</div>

</body>
</html>