<body class="game-bg">


<div style="padding: 20px">
  <div class="row no-gutters justify-content-md-center">
    <div class="col ">
      <%= image_tag "game_tree2.jpg", height: 500 %>
    </div>
    <div class="col-md-auto" align="center">
      <h3 >Select Button to Move</h3>
      <div class="btn-group-vertical">
        <button type="button" class="btn btn-success btn-lg">check if there are no branches (dead end)</button>
      </div>
      <h3 style="padding: 10px">Return Node</h3>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-success"><%= node.node1 %></button>
        <button type="button" class="btn btn-success"><%= node.node2 %></button>
        <button type="button" class="btn btn-success"><%= node.node3 %></button>
      </div>
    </div>
    <div class="col ">
      <div style="padding: 10px" align="right">
            <button type="button" class="btn btn-success btn-lg" >Exit</button>
      </div>
      <div >
            <%= image_tag "new_playtest_algo.png", height: 300 %>
      </div>
      <div class="card border-dark mb-3" style="max-width: 28rem;">
        <div class="card-header">Console Output</div>
        <div class="card-body text-dark">
            <p class="card-text">.....</p>
      </div>
      <div class="input-group mb-3" style="padding: 20px">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Enter Console Output</span>
        </div>
        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
      </div>
    </div>
  </div>
</div>




