<body class="game-bg">


<div style="padding: 20px">
  <div class="row no-gutters justify-content-md-center">
    <div class="col">
      <%= image_tag "game_tree2.jpg", height: 500 %>
    </div>
    <div class="col-md-auto" align="center">
      <h3>Select Button to Move</h3>
      <div class="btn-group-vertical">
        <%= link_to 'check if there is a branch to climb', easy_level4_path(node), class: "btn btn-success btn-lg" %>
      </div>
      <h3 style="padding: 10px">Return Node</h3>
      <div class="btn-group" role="group">
        <%= link_to node.node1, easy_level3_path(node), class: "btn btn-success btn-lg" %>
        <%= link_to node.node2, easy_level3_path(node), class: "btn btn-success btn-lg" %>
        <%= link_to node.node3, easy_level3_path(node), class: "btn btn-success btn-lg" %>
      </div>
    </div>
    <div class="col ">
      <div style="padding: 10px" align="right">
            <%= link_to 'Exit', start_path, class: "btn btn-success btn-lg" %>
      </div>
      <div >
            <%= image_tag "new_playtest_algo2.png", height: 300 %>
      </div>
      <div class="card border-dark mb-3" style="max-width: 28.5rem;">
        <div class="card-header">Console Output</div>
        <div class="card-body text-dark">
            <p class="card-text">.....</p>
      </div>
      <div class="input-group mb-3" style="padding: 20px">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Enter Console Output</span>
        </div>
        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
      </div>
    </div>
  </div>
</div>