<body class="game-bg"> <!-this shows the background image on each page and the class is in application.scss->

<h1>Challenge Level Nodes</h1> <!-this page shows all the challenge level nodes ->

 <% nodes.each do |node| %> <!-print out each node in the challenge level nodes->
     <div id="<%= dom_id(node) %>">
         <p><%= node.node1 %></p>
         <p><%= node.node2 %></p>
         <p><%= node.node3 %></p>
         <p><%= node.node4 %></p>
         <p><%= node.node5 %></p>
         <p><%= node.node6 %></p>
         <p><%= node.node7 %></p>
         <p><%= node.node8 %></p>
         <p><%= node.node9 %></p>
         <p><%= node.node10 %></p>
         <p><%= node.node11 %></p>
     </div>
 <% end %>