<body class="game-bg">


<div style="padding: 20px">
  <div class="row no-gutters ">
    <div class="col ">
      <div class="over-c52 c-move-53"><%= image_tag "climber_right.png", height: 100 %> </div>
      <div class="under"><%= image_tag "challenge_level_32.png", height: 550 %></div>
    </div>
    
    

    <div class="col ">
      <div class="float-container" style="padding: 10px" >
        <div class="row-center float-child" style="display: inline-block ">
            <div>
                <button id="help" class="btn btn-success btn-lg">Hint</button>
                    <script>
                    function hint() {
                    alert('Look for apples');
                    }
                    document.getElementById("help").addEventListener("click", hint);
                    </script>
            </div>
        </div>
        <div class="float-child" style="display: inline-block">
            <%= link_to 'Exit', start_path, class: "btn btn-success btn-lg" %>
        </div>
      </div>
      <div >
            <%= image_tag "new_playtest_algo3.png", height: 300 %>
      </div>
      <div class="card border-dark mb-3" style="max-width: 29.5rem;">
        <div class="card-header">Console Output</div>
        <div class="table-wrap">
            <p class="card-text">check if there is an apple<br>
            climb branch to the left of 5<br>
            check if there is an apple<br>
            climb branch to the left of 1<br>
            check if there is an apple<br>
            climb branch to the left of 7<br>
            check if there is an apple<br>
            climb branch to the left of 4<br>
            check if there is an apple<br>
            4<br>
            climb branch to the right of 4<br>
            check if there is an apple<br>
            7<br>
            climb branch to the right of 7<br>
            check if there is an apple<br>
            climb branch to the left of 2<br>
            check if there is an apple<br>
            climb branch to the left of 11<br>
            check if there is an apple<br>
            11<br>
            climb branch to the right of 11<br>
            check if there is an apple<br>
            2<br>
            climb branch to the right of 2<br>
            check if there is an apple<br>
            1<br>
            climb branch to the right of 1<br>
            check if there is an apple<br>
            5<br>
            climb branch to the right of 5<br>
            check if there is an apple<br>
            climb branch to the left of 10<br>
            check if there is an apple<br>
            climb branch to the left of 6
            check if there is an apple<br>
            6<br>
            climb branch to the right of 6<br>
            check if there is an apple<br>
            climb branch to the left of 8<br>
            check if there is an apple<br>
            8<br>
            climb branch to the right of 8<br>
            check if there is an apple<br>
            10<br>
            climb branch to the right of 10<br>
            check if there is an apple<br>
            climb branch to the left of 3<br>
            check if there is an apple<br>
            3<br>
            climb branch to the right of 3<br>
            check if there is an apple<br>
            climb branch to the left of 9<br>
            check if there is an apple<br>
            9</p>
      </div>
      <div class="input-group mb-3" style="padding: 20px">
      <div class="input-group-prepend">
      <input type="text" name="inputanswer" id="inputanswer" autocomplete="off"  placeholder="Enter your decision!" onkeydown="redirect(this)">
      <script>
          function redirect(ele) {
              if(event.key === 'Enter') {
                  if(ele.value === 'climb branch to the right of 9')
                       window.location.href = 'http://localhost:3000/challenge_levels56/1';
                  else
                      alert("Invalid");
              }
          }
      </script>
      </div>
  </div>
    <div style="padding: 10px" >
        <%= link_to 'Next', challenge_level56_path(node), class: "btn btn-success btn-lg" %>
    </div>
  </div>
</div>



