<body class="game-bg"><!-this shows the background image on each page and the class is in application.scss->


<div style="padding: 20px"><!-padding for the UI->
  <div class="row no-gutters justify-content-md-center"><!-Makes the UI center->
    <div class="col">
      <div class="overint18 fourteen-moveint" id="fall"><%= image_tag "climber_right.png", height: 100 %> </div><!-over is the position of the climber, the move is animation for moving the climber, and fall is the animation if you misclick. climber_right is the image->
      <div class="under"><%= image_tag "branch4.png", height: 550 %></div><!-image for game tree and under is the position of the tree->
    </div>
    <div class="col-md-auto" align="center"><!-col-md-auto is for where the button is->
    <h3>Select Button to Move</h3>
    <div class="btn-group-vertical"><!-type of button->
      <%= link_to 'check if there is an apple', intermediate_level19_path(node), class: "btn btn-success btn-lg" %><!-movement button that links to the next page->
    </div>
    <h3 style="padding: 10px">Return Apple</h3>
    <div class="btn-group" role="group">
      <button id="error2" type="button" class="btn btn-success btn-lg">1</button><!-button for returning to apple->
          <script>
              function redirect() {
                document.getElementById("fall").className = "i-fall18"
                setTimeout(() => alert("Oops, wrong move! Can't return apple yet."),1000);
                setTimeout(() => window.location.href = 'http://localhost:3000/intermediate_levels/1', 1100);
              }
              document.getElementById("error2").addEventListener("click", redirect);
          </script><!-this script tells you the error you make and also makes the animation of the fall to activate classname is the animation which you can find in intermediate_level.scss and 
          and redirects you to the beginning of the level->
      <button id="error3" type="button" class="btn btn-success btn-lg">2</button><!-button for returning to apple->
          <script>
              function redirect() {
                document.getElementById("fall").className = "i-fall18"
                setTimeout(() => alert("Oops, wrong move! Already returned apple."),1000);
                setTimeout(() => window.location.href = 'http://localhost:3000/intermediate_levels/1', 1100);
              }
              document.getElementById("error3").addEventListener("click", redirect);
          </script><!-this script tells you the error you make and also makes the animation of the fall to activate classname is the animation which you can find in intermediate_level.scss and 
          and redirects you to the beginning of the level->
      <button id="error4" type="button" class="btn btn-success btn-lg">4</button><!-button for returning to apple->
          <script>
              function redirect() {
                document.getElementById("fall").className = "i-fall18"
                setTimeout(() => alert("Oops, wrong move! Already returned apple."),1000);
                setTimeout(() => window.location.href = 'http://localhost:3000/intermediate_levels/1', 1100);
              }
              document.getElementById("error4").addEventListener("click", redirect);
          </script><!-this script tells you the error you make and also makes the animation of the fall to activate classname is the animation which you can find in intermediate_level.scss and 
          and redirects you to the beginning of the level->
      <button id="error5" type="button" class="btn btn-success btn-lg">5</button><!-button for returning to apple->
          <script>
              function redirect() {
                document.getElementById("fall").className = "i-fall18"
                setTimeout(() => alert("Oops, wrong move! Already returned apple."),1000);
                setTimeout(() => window.location.href = 'http://localhost:3000/intermediate_levels/1', 1100);
              }
              document.getElementById("error5").addEventListener("click", redirect);
          </script><!-this script tells you the error you make and also makes the animation of the fall to activate classname is the animation which you can find in intermediate_level.scss and 
          and redirects you to the beginning of the level->
    </div> 
      <div class="row-center">
      <div style="padding: 100px">
      <button id="help" class="btn btn-success btn-lg">Hint</button><!-button for hint function in game->
        <script>
        function hint() {
        alert('Any apples on this branch?');
        }
        document.getElementById("help").addEventListener("click", hint);
        </script><!-this script activates when you click hint on the game levels and displays the alert above->
        </div>
        </div>
    </div>
    <div class="col ">
      <div style="padding: 10px" align="right">
            <%= link_to 'Exit', start_path, class: "btn btn-success btn-lg" %><!-button to go to start page->
      </div>
      <div >
            <%= image_tag "new_playtest_algo3.png", height: 300 %><!-image for algorithm->
      </div>
      <div class="card border-dark mb-3" style="max-width: 29.5rem;"><!-This is the output box and the size and what type we used->
        <div class="card-header">Console Output</div>
        <div class="table-wrap">
            <p class="card-body">check if there is an apple<br>
            climb branch to the left of 1<br>
            check if there is an apple<br>
            climb branch to the left of 2<br>
            check if there is an apple<br>
            climb branch to the left of 4<br>
            check if there is an apple<br>
            4<br>
            climb branch to the right of 4<br>
            check if there is an apple<br>
            2<br>
            climb branch to the right of 2<br>
            check if there is an apple<br>
            climb branch to the left of 5<br>
            check if there is an apple<br>
            5<br>
            climb branch to the right of 5</p>
      </div>
  </div>
</div>