<body class="game-bg">


<div style="padding: 20px">
  <div class="row no-gutters justify-content-md-center">
    <div class="col">
      <div class="overint29 swing-image-int9" id="fall"><%= image_tag "climber_left.png", height: 100 %> </div>
      <div class="under"><%= image_tag "branch6.png", height: 550 %></div>
    </div>
    <div class="col-md-auto" align="center">
    <h3>Select Button to Move</h3>
    <div class="btn-group-vertical">
      <button id="error" class="btn btn-success btn-lg">climb branch to the left of 6</button>
          <script>
              function redirect() {
                document.getElementById("fall").className = "i-fall29"
                setTimeout(() => alert("Oops, wrong move! No more branches to climb."),1000);
                setTimeout(() => window.location.href = 'http://localhost:3000/intermediate_levels/1', 1100);
              }
              document.getElementById("error").addEventListener("click", redirect);
          </script>
      <button id="error1" class="btn btn-success btn-lg">climb branch to the right of 6</button>
          <script>
              function redirect() {
                document.getElementById("fall").className = "i-fall29"
                setTimeout(() => alert("Oops, wrong move! No more branches to climb."),1000);
                setTimeout(() => window.location.href = 'http://localhost:3000/intermediate_levels/1', 1100);
              }
              document.getElementById("error1").addEventListener("click", redirect);
          </script>
    </div>
    <h3 style="padding: 10px">Return Apple</h3>
    <div class="btn-group" role="group">
      <button id="error2" type="button" class="btn btn-success btn-lg">1</button>
          <script>
              function redirect() {
                document.getElementById("fall").className = "i-fall29"
                setTimeout(() => alert("Oops, wrong move! Already returned apple."),1000);
                setTimeout(() => window.location.href = 'http://localhost:3000/intermediate_levels/1', 1100);
              }
              document.getElementById("error2").addEventListener("click", redirect);
          </script>
      <button id="error3" type="button" class="btn btn-success btn-lg">2</button>
          <script>
              function redirect() {
                document.getElementById("fall").className = "i-fall29"
                setTimeout(() => alert("Oops, wrong move! Already returned apple."),1000);
                setTimeout(() => window.location.href = 'http://localhost:3000/intermediate_levels/1', 1100);
              }
              document.getElementById("error3").addEventListener("click", redirect);
          </script>
      <button id="error4" type="button" class="btn btn-success btn-lg">3</button>
          <script>
              function redirect() {
                document.getElementById("fall").className = "i-fall29"
                setTimeout(() => alert("Oops, wrong move! Already returned apple."),1000);
                setTimeout(() => window.location.href = 'http://localhost:3000/intermediate_levels/1', 1100);
              }
              document.getElementById("error4").addEventListener("click", redirect);
          </script>
      <button id="error5" type="button" class="btn btn-success btn-lg">4</button>
          <script>
              function redirect() {
                document.getElementById("fall").className = "i-fall29"
                setTimeout(() => alert("Oops, wrong move! Already returned apple."),1000);
                setTimeout(() => window.location.href = 'http://localhost:3000/intermediate_levels/1', 1100);
              }
              document.getElementById("error5").addEventListener("click", redirect);
          </script>
      <button id="error6" type="button" class="btn btn-success btn-lg">5</button>
          <script>
              function redirect() {
                document.getElementById("fall").className = "i-fall29"
                setTimeout(() => alert("Oops, wrong move! Already returned apple."),1000);
                setTimeout(() => window.location.href = 'http://localhost:3000/intermediate_levels/1', 1100);
              }
              document.getElementById("error6").addEventListener("click", redirect);
          </script>
      <%= link_to node.node6, intermediate_level30_path(node), class: "btn btn-success btn-lg" %>
      </div> 
      <div class="row-center">
      <div style="padding: 100px">
      <button id="help" class="btn btn-success btn-lg">Hint</button>
        <script>
        function hint() {
        alert('No more apples on this branch! Move back to safety!');
        }
        document.getElementById("help").addEventListener("click", hint);
        </script>
        </div>
        </div>
    </div>
    <div class="col ">
      <div style="padding: 10px" align="right">
            <%= link_to 'Exit', start_path, class: "btn btn-success btn-lg" %>
      </div>
      <div >
            <%= image_tag "new_playtest_algo3.png", height: 300 %>
      </div>
      <div class="card border-dark mb-3" style="max-width: 29.5rem;">
        <div class="card-header">Console Output</div>
        <div class="table-wrap">
            <p class="card-text">check if there is an apple<br>
            climb branch to the left of 1<br>
            check if there is an apple<br>
            climb branch to the left of 2<br>
            check if there is an apple<br>
            climb branch to the left of 4<br>
            check if there is an apple<br>
            4<br>
            climb branch to the right of 4<br>
            check if there is an apple<br>
            2<br>
            climb branch to the right of 2<br>
            check if there is an apple<br>
            climb branch to the left of 5<br>
            check if there is an apple<br>
            5<br>
            climb branch to the right of 5<br>
            check if there is an apple<br>
            1<br>
            climb branch to the right of 1<br>
            check if there is an apple<br>
            climb branch to the left of 3<br>
            check if there is an apple<br>
            3<br>
            climb branch to the right of 3<br>
            check if there is an apple<br>
            climb branch to the left of 6<br>
            check if there is an apple</p>
      </div>
  </div>
</div>