<!DOCTYPE html>
<html>
  <head>
    <title>Comp4882Questforcode</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %> 
  </head>

  <body>
   <nav class="navbar navbar-expand-md navbar-dark bg-primary">
       <a class="navbar-brand" href="#">Quest for Code</a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>

       <div class="collapse navbar-collapse" id="navbarColor01">
         <ul class="navbar-nav mr-auto">
           <li class="nav-item active">
             <%= link_to 'Home', start_path, class: 'nav-link' %>
           </li>
           <li class="nav-item">
             <a link_to class="nav-link" href="#">About</a>
           </li>
           <li class="nav-item">
             <%= link_to 'Instructions', instruction_path, class: 'nav-link' %>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="#">Profile</a>
           </li>
         </ul>
         <ul class="navbar-nav">
             <li class="nav-item">
               <a class="nav-link" href="#">Sign In</a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="#">Sign Up</a>
             </li>
         </ul>
     </nav>

     <% flash.each do |key, message| %>
       <p><%= message %></p>
       <div class="alert <%= flash_class(key) %> alert-dismissible fade show text-center" role="alert">
         <%= message %>
         <button type="button" class="close" data-dismiss="alert" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
     <% end %>

    <%= yield %>

    
  </body>
</html>
